{% extends 'layout.html' %}
{% block title %}{% if category.name=='' %}{{ category.parent.name }}{% else %}{{ category.name }}{% endif %}{% endblock %}
{% block content %}
    <h2>Category - {% if category.name=='' %}{{ category.parent.name }}{% else %}{{ category.name }}{% endif %}</h2>
    <form action="{{ url_for('search') }}" method="get" id="category-search" class="fright">
        <input type="search" name="query" placeholder="Search Term" />
        <input type="submit" />
    </form>
    {% if drugs %}
    <h3>Drugs/Medical Products in Category</h3>
    <ul id="drug-list">
        {% for drug in drugs %}
        <li><a href="{{ url_for('drug', id=drug.id) }}">{{ drug.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if children %}
    <h3>Sub-Categories</h3>
    <ul id="category-list">
        {% for cat in children %}
        <li><a href="{{ url_for('category', id=cat.id) }}">{% if cat.name=='' %}{{ category.name }}{% else %}{{ cat.name }}{% endif %}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
