<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block scripts %}{% endblock %}
    <title>Plc3bo - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <header>
                <div class="header">
                    <h1><a href="{{ url_for('index') }}">Plc3bo</a></h1>
                    <h2>What *is* my doctor giving me?</h2>
                </div>
            </header>
            <div class="content">
                <div class="left">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                          <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
                <footer>
                    <p>Plc3bo &copy; 2013 Samuel Littley.</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
